* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --orange-shadow: hsla(15, 100%, 61%, 0.199);
  --gradient: linear-gradient(90deg, hsl(355, 100%, 67%), hsl(15, 100%, 61%));
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--charcoal-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  display: flex;
  font-size: 16px;
  border-radius: 1.5em;
  /* padding: 1em; */
  width: fit-content;
  width: clamp(400px, 90vw, 780px);
}

.container__main {
  flex-basis: 100%;
  padding: 0 2.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.25em;
}

.container__main__text__subtitle,
.container__main__text__ul li {
  font-size: 0.85em;
  color: var(--charcoal-grey);
}

.container__main__text__title {
  font-size: 2.75em;
  color: var(--charcoal-grey);

  margin-bottom: 0.3em;
}

.container__main__text__subtitle {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.container__main__text__ul li {
  list-style: inside url(/assets/images/icon-list.svg);
}

.container__main__text__ul li + li {
  margin-top: 0.4em;
}

/* -- all inputs --*/
.container__main__form input {
  padding: 1.2em;
  width: 100%;
  border-radius: 0.5em;
  font-size: 0.75em;
}

.container__main__form__label {
  font-weight: 700;
  color: var(--charcoal-grey);
  font-size: 0.75em;
  line-height: 2.75em;
}

.container__main__form__email {
  border: 1px var(--grey) solid;
}

.container__main__form__email:focus {
  border: 1px var(--dark-slate-grey) solid;
  outline: 0;
}

.container__main__form__email.invalid {
  color: rgb(201, 48, 1);
}

.container__main__form__email.valid {
  color: rgb(52, 128, 30);
}

.container__main__form__submit {
  margin-top: 1.25em;
  /* to prevent white flashing when i hover, i use a linear gradient here with only 1 color*/
  background: linear-gradient(var(--dark-slate-grey), var(--dark-slate-grey));
  color: var(--white);
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: scale 200ms;
}

.container__main__form__submit:hover,
.container__main__form__submit:focus {
  background: var(--gradient);
  box-shadow: 0 20px 20px 0px var(--orange-shadow);
  scale: 1.025;
  outline: 0;
}

.container__img {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  padding-left: 0;
}

.container__img img {
  max-height: 500px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    width: min(400px, 100vw);
    justify-content: flex-end;
    font-size: 14px;
  }

  .container__img {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: unset;
  }

  .container__img img {
    content: url(./assets/images/illustration-sign-up-mobile.svg);
  }

  .container__main {
    padding: 2.5em;
    flex-basis: unset;
  }

  .container__main__text__subtitle,
  .container__main__text__ul li {
    font-size: 1.2em;
  }

  .container__main__form input {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 400px) {
  .container {
    height: 100vh;
    border-radius: 0;
  }
}
