* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --orange-shadow: rgba(255, 106, 56, 0.25);
  --gradient: linear-gradient(90deg, hsl(355, 100%, 67%), hsl(15, 100%, 61%));
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --valid: hsl(107, 62%, 31%);
  --valid-transparent: hsla(107, 62%, 31%, 0.1);

  --invalid: hsl(14, 97%, 43%);
  --invalid-transparent: hsla(14, 99%, 40%, 0.1);
}

body {
  background-color: var(--charcoal-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  display: flex;
  font-size: 16px;
  border-radius: 1.5em;
  width: clamp(400px, 90vw, 780px);
}

.container__main {
  flex-basis: 100%;
  padding: 0 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.4em;
}

.container__main__text__subtitle,
.container__main__text__ul li {
  font-size: 0.85em;
  color: var(--charcoal-grey);
}

.container__main__text__title {
  font-size: 2.75em;
  color: var(--dark-slate-grey);

  margin-bottom: 0.3em;
}

.container__main__text__subtitle {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.container__main__text__ul {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.container__main__text__ul__list-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.container__main__text__ul__list-item li {
  list-style: none;
}

/* in script.js i'm adding valid and invalid classes to the form, so that we can
select the input and error elements without having to add
seperate classes */
.container__main__form.invalid input:first-of-type {
  border: var(--invalid) 1px solid;
  background-color: var(--invalid-transparent);
  color: var(--invalid);
}

.container__main__form.valid input:first-of-type {
  border: var(--valid) 1px solid;
  background-color: var(--valid-transparent);
  color: var(--valid);
}

.container__main__form.invalid #error {
  display: block;
}

.container__main__form.valid #error {
  display: none;
}

/* default styles for inputs in form */
.container__main__form input {
  padding: 1.2em;
  width: 100%;
  border-radius: 6px;
  font-size: 0.8rem;
}

.container__main__form__toolbar {
  display: flex;
  justify-content: space-between;
}

.container__main__form__toolbar__label {
  font-weight: 700;
  color: var(--charcoal-grey);
  font-size: 0.75em;
  line-height: 2.75em;
}

.container__main__form__toolbar__label#error {
  color: var(--invalid);
  display: none;
}

.container__main__form__email {
  border: 1px var(--grey) solid;
}

.container__main__form__email:focus,
.container__main__form__email:hover {
  border: 1px var(--dark-slate-grey) solid;
  outline: 0;
}

.container__main__form__submit {
  margin-top: 1.25em;
  /* to prevent white flashing when i hover, i use a linear gradient here with only 1 color*/
  background: linear-gradient(var(--dark-slate-grey), var(--dark-slate-grey));
  color: var(--white);
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: scale 200ms;
}

.container__main__form__submit:hover,
.container__main__form__submit:focus {
  background: var(--gradient);
  box-shadow: 0 20px 20px 0px var(--orange-shadow);
  scale: 1.025;
  outline: 0;
}

.container__img {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1.25em;
  padding-left: 0;
}

.container__img img {
  max-height: 500px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    width: min(400px, 100vw);
    justify-content: flex-end;
  }

  .container__img {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: unset;
  }

  .container__img img {
    content: url(../assets/images/illustration-sign-up-mobile.svg);
  }

  .container__main {
    padding: 2.5em;
    flex-basis: unset;
  } 

  .container__main__text__title {
    font-size: 2.25rem;
  }

  .container__main__text__subtitle,
  .container__main__text__ul__list-item li {
    font-size: 1rem;
  }

  .container__main__text__ul__list-item {
    gap: 0.75em;
    align-items: flex-start;
  }

  .container__main__form input {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    min-height: 100vh;
    border-radius: 0;
  }

  .container__main {
    padding: 2.25em 1.75em;
  }
}
